<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.himart.backend.category.vo"/>
        <package name="com.himart.backend.category.dto"/>
        <package name="com.himart.backend.product.dto"/>
        <package name="com.himart.backend.product.vo"/>
    </typeAliases>
</configuration>