<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.himart.backend.product.dao.DispPrdDao">
    <select id="selectPrdListByCate" resultType="PrdInfoDto">
        select
            prd_id as prdId
            , prd_nm as prdNm
            , brd_nm as brdNm
            , prd_sl_prc as prdSlPrc
            , cate_id as cateId
        from product
        where cate_id = #{cateId}
    </select>

    <select id="selectPrdDtl" resultType="PrdDtlDto">
        select
            prd_id as prdId
             , prd_nm as prdNm
             , brd_nm as brdNm
             , prd_sl_prc as prdSlPrc
             , cate_id as cateId
        from product
        where prd_id = #{prdId}
    </select>
</mapper>